#info {
    place-items: left;
}

#education {
    place-items: left;
}

#experience {
    place-items: left;
}

#main {
    display: grid;
    justify-content: left;
    margin-left: 100px;
    font-family: 'Noto Sans JP', sans-serif;

}

.content {
    flex: 0 1 200px;
    margin: 20px;

}

button {
    display: inline-block;
    size: 100px;
}

label {
    display: block;
    padding-bottom: 5px;
    padding-top: 20px;
}